[submodule "server"]
	path = server
	url = https://github.com/ATX834/Botwriter-Server.git
	branch = main
[submodule "client"]
	path = client
	url = https://github.com/ATX834/Botwriter-Client.git
	branch = main
[submodule "pdf-api"]
	path = services/pdf_api
	url = https://github.com/ATX834/PDF-Api.git
	branch = main
