[submodule "Botwriter-Server"]
	path = server
	url = https://github.com/ATX834/Botwriter-Server.git
[submodule "Botwriter-Client"]
	path = client
	url = https://github.com/ATX834/Botwriter-Client.git
